name: ci

on:
  pull_request:
    branches:
    - '**'

permissions:
  contents: read

jobs:
  lint_test:
    uses: babylonlabs-io/.github/.github/workflows/reusable_go_lint_test.yml@5237008234bd9c3b62968a1fbe6ab543b2256f60  # v0.14.3
    with:
      go-version: '1.25.5'
      go-lint-version: 'v2.7.2'
      run-unit-tests: true
      run-integration-tests: true
      run-lint: true
      run-build: true
      run-gosec: true
      gosec-args: "-no-fail ./..."
     
  docker_pipeline:
    uses: babylonlabs-io/.github/.github/workflows/reusable_docker_pipeline.yml@5151754256060bf160c411d0784f831f29882106 # v0.13.4
    secrets: inherit
    with:
      publish: false
      dockerfile: ./contrib/images/babylon-staking-indexer/Dockerfile
