name: docker_publish

on:
  push:
    branches:
    - 'main'
    tags:
    - '*'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  lint_test:
    uses: babylonlabs-io/.github/.github/workflows/reusable_go_lint_test.yml@847cd8a6ff9c64e401ce922d12532979d9ac5e93 # v0.14.5
    with:
      go-version: '1.24.3'
      go-lint-version: 'v1.64.8'
      run-unit-tests: true
      run-integration-tests: true
     
  docker_pipeline:
    needs: ["lint_test"]
    uses: babylonlabs-io/.github/.github/workflows/reusable_docker_pipeline.yml@847cd8a6ff9c64e401ce922d12532979d9ac5e93 # v0.14.5
    secrets: inherit
    with:
     publish: true
     dockerfile: ./contrib/images/babylon-staking-indexer/Dockerfile
     docker_scan: true
    permissions:
      # required for all workflows
      security-events: write
      # required to fetch internal or private CodeQL packs
      packages: read
